title{
    font-size: large;
    font: outline;
    font-family: Arial, Helvetica, sans-serif;
    flex: auto;
}   
body{
    background-color: lightgray;
}
.navbar-brand{
    font-size: medium;
}
.form-inline {
  float: right;
  padding: 6px;
  border: yellow;
  margin-top: 12px;
  margin-right: 30px;
  font-size: 17px;
}
.btn btn-outline-success{
    padding: 6px;
    border-radius: 20px;
    font-style: unset;
    flex: auto;
    size: 20px;
    margin-right: 500px;
}
.options{
    font: outline;
    font-size: larger;
    font-style: initial;
    page-break-after: unset;
    scroll-behavior: smooth;
    list-style-type: lower-greek;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
}
.nav-background {
    color: gray;
}
button:hover{
    animation-name: background-color;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}
@keyframes background-color{
    100%{
        background-color: #4791d0;
    }
}